{{#if canCreateSong}}
  <div class="list-group-item">
      {{input type="text" class="new-band" placeholder=newSongPlaceholder value=newTitle insert-newline="createSong" }}
      <div class="row song-filter-dropdown" >
      <button class="btn btn-primary btn-sm new-song-button" {{action "createSong"}} disabled={{disabled}}>Add</button>
      <select id="song-sorting-select" class="form-control pull-right song-filter-item "  onchange={{action (mut selectedSort) value="target.value"}}>
        {{#each sortOptions as |sortOption|}}
          <option value={{sortOption.id}} selected={{eq selectedSort sortOption.id}}>{{sortOption.name}}</option>
        {{/each}}
      </select>
      </div>
  </div>
{{/if}}
{{#each sortedSongs as |song|}}
  <div class="list-group-item song">
    {{song.title}}
    <span class="song-delete-action glyphicon glyphicon-trash" {{action (action (mut songToDelete) song)}}></span>
    {{star-rating item=song rating=song.rating maxRating=5 setAction="setRating"}}
  </div>
{{else}}
  {{#unless canCreateSong}}
    <div class="list-group-item empty-list">
      <div class="empty-message">
        There are no {{model.name}} songs. Why don't you <a href="#" {{action "enableSongCreation"}}>create one?</a>
      </div>
    </div>
  {{/unless}}
{{/each}}

{{#bs-modal-simple
  open=songToDelete
  title="Please confirm"
  closeTitle="Cancel"
  submitTitle="Confirm"
  size=null
  closeButton=true
  fade=false
  onSubmit=(action "deleteSong" songToDelete)
  onHide=(action (mut songToDelete) null)}}
  You're about to delete {{songToDelete.title}}. Are you sure?
{{/bs-modal-simple}}
