{{#if canCreateSong}}
  <div class="list-group-item">
    {{input type="text" class="new-artist" placeholder=newSongPlaceholder value=newTitle insert-newline="createSong" }}
    <button class="btn btn-primary btn-sm new-song-button" {{action "createSong"}}>Add</button>
    {{view 'select' content=sortOptions
                        value=selectedSort
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                        classNames="pull-right"}}
  </div>
{{/if}}
{{#each sortedSongs}}
  <div class="list-group-item">
    {{title}}
    {{star-rating item=this rating=rating maxRating=5 setAction="setRating"}}
  </div>
{{else}}
  {{#unless canCreateSong}}
    <div class="list-group-item empty-list">
      <div class="empty-message">
        There are no {{artist.name}} songs. Why don't you <a href="#" {{action "enableSongCreation"}}>create one?</a>
      </div>
    </div>
  {{/unless}}
{{/each}}
